* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #111111;
}
body {
  background-color: #f4d04e;
  height: 100vh;
  font-family: "Figtree";
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  border-radius: 20px;
  background-color: #fff;
  padding: 24px;
  max-width: 384px;
  width: 100%;
  height: 522px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: 16px 16px 0px 0px #000000;
}
.card__image {
  width: 336px;
  height: 200px;
}
.card__texts {
  font-family: "Figtree";
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.card__button {
  background-color: #f4d04e;
  width: 82px;
  border-radius: 4px;
  height: 29px;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.card__time {
  color: #111111;
}
.card__title {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
.card__title:hover {
  color: #f4d04e;
}
.card__subtitle {
  color: #7f7f7f;
}
.card__user {
  display: flex;
  align-items: center;
  gap: 12px;
}
.card__user-title {
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
