* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #111111;
}
body {
  background-color: #f4d04e;
  height: 100vh;
  font-family: "Figtree";
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 384px;
  border: 1px solid black;
  padding: 24px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 0px #111111;
}
.card__info {
  padding: 4px 12px;
  display: inline-block;
  background: #f4d04e;
  margin-top: 24px;
  margin-bottom: 12px;
  border-radius: 4px;
  font-weight: 900;
  font-family: "Figtree";
}
.card__date {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  font-family: "Figtree";
  display: block;
}
.card__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.card__title a {
  color: #111111;
  text-decoration: none;
  transition: 0.5s;
}
.card__title a:hover {
  color: #f4d04e;
}
.card__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #7f7f7f;
  padding-bottom: 24px;
}
.card__profile {
  display: flex;
  align-items: center;
  gap: 6px;
}
.card__profile__name {
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
  color: #111111;
}
